
.news-list {
  width: 100%;
  z-index: 1;
  padding: 40px 0;
  font-size: 15px;
  line-height: 24px; }

.news-list_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto; }

.news-tile_wrapper {
  position: relative; }

.news-list .news-tile {
  padding: 10px 10px 20px; }

.news-list_col {
  padding: 10px 0;
  flex-basis: 25%; }

img{
  width:100%
}
.news-list_title{
  overflow: hidden;
  text-overflow: ellipsis;
}